<?xml version="1.0" encoding="utf-8"?>
<plugin
    xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="net.buzzstops.waitingdialog"
    version="0.4.7">

    <name>WaitingDialog</name>
    <description>Waiting dialog for android</description>
    <license>MIT</license>

    <js-module src="www/WaitingDialog.js" name="WaitingDialog">
        <clobbers target="window.WaitingDialog" />
    </js-module>
    
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="WaitingDialog">
                <param name="android-package" value="net.buzzstops.waitingdialog.WaitingDialog"/>
            </feature>
        </config-file>

        <source-file src="src/android/WaitingDialog.java" target-dir="src/net/buzzstops/waitingdialog" />
        
        <config-file target="AndroidManifest.xml" parent="/manifest">
        </config-file>
        
     </platform> 


    
</plugin>
